html {
  font-size: 10px; /* 1rem = 10pxと定義 */
}

h1 {
  font-size: 3rem; /* 見出しは大きめの30px、パディングを20px*/
}

p {
  margin-top: 4rem; /* pはマージントップ40px */
}

body {
  font-size: 1.6rem; /*基本のフォントサイズは16px */
  text-align: center;
  place-items: center;
  font-family: "Nico Moji";
  display: grid;
  height: 30vh;
}

/* ↓↓↓パーツごと↓↓↓ */

#heading {
  background: #8cecec;
  color: #ffffff;
  display: inline-block;
  padding: 6rem 20rem;
  border-radius: 50%;
  margin-bottom: 10rem;
}

.kibun {
  background: #ffecea;
  /* 相対的な文字サイズ指定「rem」 */
  width: 100rem; /* 横の長さ */
  padding: 2rem;
  border-radius: 1rem; /* 縁を丸く */
  box-shadow: 0 0 1rem #ddd;
}

/* ボタン装飾↓ */
button {
  font-family: "Nico Moji";
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  padding: 1rem 4rem;
  cursor: pointer; /* カーソルをポインターに */
  transition: all 0.3s;
  color: #212529; /* ボタン文字色 */
  border-radius: 0.5rem;
}

.btn--pink {
  border-radius: 50%;
  line-height: 100px;
  width: 100px;
  height: 100px;
  padding: 0;
  background-color: #ffb8c4;
  -webkit-box-shadow: 0 5px 0 #f56ed3;
  box-shadow: 0 5px 0 #f56ed3;
}

.btn--blue {
  border-radius: 50%;
  line-height: 100px;
  width: 100px;
  height: 100px;
  padding: 0;
  background-color: #4aaed2;
  -webkit-box-shadow: 0 5px 0 #4a7fcf;
  box-shadow: 0 5px 0 #4a7fcf;
}

.btn--yellow {
  border-radius: 50%;
  line-height: 100px;
  width: 100px;
  height: 100px;
  padding: 0;
  background-color: #fee48d;
  -webkit-box-shadow: 0 5px 0 #e6d900;
  box-shadow: 0 5px 0 #e6d900;
}

a.btn:hover {
  -webkit-transform: translate(0, 3px);
  transform: translate(0, 3px);
  -webkit-box-shadow: 0 2px 0 #000000;
  box-shadow: 0 2px 0 #000000;
}

.character {
  padding-top: 3rem;
}
